
class API_Settings {

    static get_settings () {
        let settings = {};

        settings.APIKEY = ""
        settings.APISECRET = ""
        
        return settings;
    }

}

module.exports = API_Settings;